@use "../typography-h" as *;
@use "../sizes-h" as *;

code {    
    --code-padding: calc(var(--spacer) * 0.25);
    --code-bg: var(--scheme-middleground);
    --code-color: var(--scheme-shade-1);
    --code-border-color: var(--scheme-middleground);
    --code-border-radius: var(--border-radius);
    
    border: solid var(--border-width);
    border-color: var(--code-border-color);
    border-radius: var(--code-border-radius);
    
    color: var(--code-color);
    background-color: var(--code-bg);
    
    padding: var(--code-padding);
    display: inline-block;
    
    // Jetbrains recommended settings for jetbrains mono font
    font-family: var(--font-family-monospace);
    line-height: 1.2;
    font-size: 16px;
    
    pre > & {
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        
        padding:  calc(var(--spacer) * 0.75) calc(var(--spacer) * 1.25);
        border-left-width: calc(var(--border-width) * 4);
        word-break: normal;
        overflow-x: auto;
        
        --code-bg: var(--scheme-shade-8);
        --code-border-radius: 0;
    }
}
