
// Header for container

:root {
  --container-fallback-width: 500rem;
  --container-sm-width: 500px;
  --container-md-width: 640px;
  --container-lg-width: 850px;
  --container-xl-width: 1000px;
  --container-xxl-width: 1280px;
}

  
