
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

:root {
    @each $br-name, $br-value in $breakpoints {
        --br-#{$br-name}: #{$br-value};
    }
}

@mixin wider-than($width) {
    @media screen and (min-width: $width) {
        @content
    }
}