@use "sass:map";
@use "sass:string";
@use "functions/to-number" as *;

// Header for colors. @use this in other files instead of _colors.scss!

$colors: (
        "main": #FFD369,
        "accent": #F05454,
        "shade-0": #0D1624,
        "shade-1": #17202D,
        "shade-2": #222831,
        "shade-3": #333B46,
        "shade-4": #434C5A,
        "shade-5": #596270,
        "shade-6": #767676,
        "shade-7": #a0a0a0,
        "shade-8": #d0d0d0,
        "shade-9": #fafafa
);

$palette: (
  "bg": var(--scheme-background),
  "fg": var(--scheme-foreground),
  "mg": var(--scheme-middleground)
);
@each $color-name, $color-value in $colors {
  $palette: map.set($palette, $color-name, var(--color-#{$color-name}));
}

@mixin color-scheme-light() {
  --scheme-background: var(--scheme-shade-9);
  --scheme-foreground: var(--scheme-shade-0);
  
  --scheme-middleground: var(--scheme-shade-7);
  
  @each $color-name, $color-value in $colors {
    @if str-index($color-name, "shade") == 1 {
      --scheme-#{$color-name}: var(--color-#{$color-name});
    }
  }
}

@mixin color-scheme-dark() {
  --scheme-background: var(--scheme-shade-7);
  --scheme-foreground: var(--scheme-shade-0);
  
  --scheme-middleground: var(--scheme-shade-5);
  
  @each $color-name, $color-value in $colors {
    @if str-index($color-name, "shade") == 1 {
      // Invert shade colors
      $id: 9 - to-number(string.slice($color-name, -1));
      --scheme-shade-#{$id}: var(--color-#{$color-name});
    }
  }
}