
@use "breakpoints-h" as *;
@use "grid-h" as *;

.row {
  display: flex;
  flex-wrap: wrap;
  
  > * {
    width: 100%;
    max-width: 100%;
    flex-shrink: 1;
  }
}

// Normal columns

@include column();
@for $i from 1 through $column-count {
  @include column($i);
}

// Responsive columns

@each $br-name, $br-value in $breakpoints {
  @include column(null, $br-name, $br-value);
  @for $i from 1 through $column-count {
    @include column($i, $br-name, $br-value);
  }
}
