// Header for all things typography

:root {
  --font-family-normal: 'IBM Plex Sans', sans-serif;
  --font-family-heading: 'Staatliches', cursive;
  --font-family-monospace: monospace;
  --font-size: 1.05rem;

  --heading-color: var(--scheme-foreground);
  
  --paragraph-width: 70ch;
}
